<div *ngIf="title" class="title-bar dark-theme">
  &#9002; {{title}}
  <div style="margin-left: auto; margin-right: auto;"></div>
  <button class="btn btn-link btn-sm" (click)="toggleLock()" [title]="(lockToEnd ? 'Disable' : 'Enable') + ' Lock To End (auto scroll)'" >
    <fa-icon [icon]='["fas", lockToEnd ? "lock" : "lock-open"]'></fa-icon>
  </button>
</div>
<cdk-virtual-scroll-viewport [itemSize]="itemSize" [minBufferPx]="10" [maxBufferPx]="10" class="dark-theme flex-grow"
  style="overflow: scroll;" #scrollView>
  <div *cdkVirtualFor="let log of messages; let i = index;" style="white-space: nowrap">
    {{log.message}}
  </div>
</cdk-virtual-scroll-viewport>
