<div class="row">
    
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/system" [background]="serverStateToStyle((commonService.currentSystem | async)?.value?.serverState)">
            <div class="card-body">Server State:<br/> {{ (commonService.currentSystem | async)?.value?.serverState | defaultValue:'Unknown' }}</div>
        </sb-card-view-details>
    </div>

    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/system" background="bg-primary">
            <div class="card-body">
                Sytem CPU:
                <div class="row">
                    <ngx-gauge  type="arch" 
                                [value]="((commonService.currentSystem | async)?.value?.system?.cpuTotal) | defaultValue:0" 
                                append="%"
                                [size]="165"
                                style="margin-left: auto; margin-right: auto;"
                    ></ngx-gauge>
                </div>
            </div>
        </sb-card-view-details>
    </div>

    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/system" background="bg-primary">
            <div class="card-body">
                Sytem RAM: ~{{ (commonService.currentSystem | async)?.value?.system?.mem | defaultValue:'Unknown' }} MB / {{ (commonService.currentSystem | async)?.value?.system?.memTotal | defaultValue:'Unknown' }} MB
                <div class="row">
                    <ngx-gauge  type="arch" 
                                [value]="(((commonService.currentSystem | async)?.value?.system.mem | defaultValue:0) / ((commonService.currentSystem | async)?.value?.system.memTotal | defaultValue:1) ) * 100" 
                                append="%"
                                [size]="165"
                                style="margin-left: auto; margin-right: auto;"
                    ></ngx-gauge>
                </div>
            </div>
        </sb-card-view-details>
    </div>
    
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard/players" background="bg-primary">
            <div class="card-body">Online Players:<br/> {{ (commonService.currentPlayers | async)?.value?.length | defaultValue:'Unknown' }}</div>
        </sb-card-view-details>
    </div>
    <!-- <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-warning">
            <div class="card-body">Warning Card</div>
        </sb-card-view-details>
    </div>
    <div class="col-xl-3 col-md-6">
        <sb-card-view-details link="/dashboard" background="bg-danger">
            <div class="card-body">Danger Card</div>
        </sb-card-view-details>
    </div> -->
</div>