<sb-layout-dashboard>
    <sb-dashboard-head title="Maintenance" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <sb-card>
        <div class="card-header">
            <fa-icon class="mr-1" [icon]='["fas", "calendar-alt"]'></fa-icon>Maintenance
        </div>
        <div class="card-body">

            <ngb-alert  *ngIf="outcomeBadge"
                        [type]="outcomeBadge.success ? 'success' : 'danger'"
            >
                {{ outcomeBadge.message }}
            </ngb-alert>

            <strong>Updates / Backups</strong>
            <hr>
            <div class="row spaced">
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="updateServer()">
                        Update Server
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="updateMods()">
                        Update Mods
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="createBackup()">
                        Create Backup
                    </button>
                </div>
            </div>
            <strong>Restarts</strong>
            <hr>
            <div class="row spaced">
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="restartServer(false)">
                        Restart Server
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" title="Kills the server immediately (Use this only when its totally stuck)" (click)="restartServer(true)">
                        Restart Server (Force)
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" title="Prevents the manager from restarting the server until re-enabled" (click)="lockRestarts()">
                        Lock Server Restart
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="unlockRestarts()">
                        UnLock Server Restart
                    </button>
                </div>
            </div>
            <strong>Server</strong>
            <hr>
            <div class="row spaced">
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="lockServer()">
                        Lock Server
                    </button>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary" (click)="unlockServer()">
                        UnLock Server
                    </button>
                </div>
            </div>
        </div>
    </sb-card>
</sb-layout-dashboard>
